@import '~scss/mixins/all';
@import '~scss/variables/all';

input, .input {
  border: 1px solid $grey;
  border-radius: 0;
  @include font-medium(1.2rem);

  &.disabled, &[disabled] {
    opacity: .2;
  }
}