@import '~scss/mixins/all';
@import '~scss/variables/all';

input, .input {
  border: 1px solid $grey;
  border-radius: 0;
  line-height: 1;
  height: 32px;
  box-sizing: border-box;
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;

  &.disabled, &[disabled] {
    opacity: .2;
  }
}